In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
airlines = pd.read_excel("C:/Users/H P/Desktop/ANACONDA/CLUSTERING/Assignment/EastWestAirlines.xlsx")
airlines

,East-West Airlines is trying to learn more about its customers. Key issues are their,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"flying patterns, earning and use of frequent f...",NaN,NaN,NaN,NaN
1,card. The task is to identify customer segmen...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Source: Based upon real business data; company...,NaN,NaN,NaN,NaN
5,(c) 2016 Galit Shmueli and Peter Bruce,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,Field Name,Data Type,Max Data Length,Raw Data or Telcom Created Field?,Description
9,ID#,NUMBER,NaN,Telcom,Unique ID
10,Balance,NUMBER,8,Raw,Number of miles eligible for award travel
11,Qual_miles,NUMBER,8,Raw,Number of miles counted as qualifying for Topf...
12,cc1_miles,CHAR,1,Raw,Number of miles earned with freq. flyer credit...
13,cc2_miles,CHAR,1,Raw,Number of miles earned with Rewards credit car...
14,cc3_miles,CHAR,1,Raw,Number of miles earned with Small Business cre...
15,note: miles bins:,NaN,NaN,NaN,"1 = under 5,000"
16,NaN,NaN,NaN,NaN,"2 = 5,000 - 10,000"
17,NaN,NaN,NaN,NaN,"3 = 10,001 - 25,000"
18,NaN,NaN,NaN,NaN,"4 = 25,001 - 50,000"
19,NaN,NaN,NaN,NaN,"5 = over 50,000"
20,Bonus_miles,NUMBER,NaN,Raw,Number of miles earned from non-flight bonus t...
21,Bonus_trans,NUMBER,NaN,Raw,Number of non-flight bonus transactions in the...
22,Flight_miles_12mo,NUMBER,NaN,Raw,Number of flight miles in the past 12 months
23,Flight_trans_12,NUMBER,NaN,Raw,Number of flight transactions in the past 12 m...
24,Days_since_enroll,NUMBER,NaN,Telcom,Number of days since Enroll_date
25,Award?,NUMBER,NaN,Telcom,"Dummy variable for Last_award (1=not null, 0=n..."

In [10]:
airlines.dtypes

East-West Airlines is trying to learn more about its customers.  Key issues are their    object
Unnamed: 1                                                                               object
Unnamed: 2                                                                               object
Unnamed: 3                                                                               object
Unnamed: 4                                                                               object
dtype: object

In [19]:
airlines['Unnamed: 1']= pd.to_numeric(airlines['Unnamed: 1'],errors='coerce')
airlines['Unnamed: 2']= pd.to_numeric(airlines['Unnamed: 2'],errors='coerce')
airlines['Unnamed: 3']= pd.to_numeric(airlines['Unnamed: 3'],errors='coerce')
airlines['Unnamed: 4']= pd.to_numeric(airlines['Unnamed: 4'],errors='coerce')
airlines

,East-West Airlines is trying to learn more about its customers. Key issues are their,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,"flying patterns, earning and use of frequent f...",NaN,NaN,NaN,NaN
1,card. The task is to identify customer segmen...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,Source: Based upon real business data; company...,NaN,NaN,NaN,NaN
5,(c) 2016 Galit Shmueli and Peter Bruce,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN
8,Field Name,NaN,NaN,NaN,NaN
9,ID#,NaN,NaN,NaN,NaN
10,Balance,NaN,8.0,NaN,NaN
11,Qual_miles,NaN,8.0,NaN,NaN
12,cc1_miles,NaN,1.0,NaN,NaN
13,cc2_miles,NaN,1.0,NaN,NaN
14,cc3_miles,NaN,1.0,NaN,NaN
15,note: miles bins:,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN
20,Bonus_miles,NaN,NaN,NaN,NaN
21,Bonus_trans,NaN,NaN,NaN,NaN
22,Flight_miles_12mo,NaN,NaN,NaN,NaN
23,Flight_trans_12,NaN,NaN,NaN,NaN
24,Days_since_enroll,NaN,NaN,NaN,NaN
25,Award?,NaN,NaN,NaN,NaN

In [22]:
from scipy.cluster.hierarchy import linkage 
import scipy.cluster.hierarchy as sch 
z = linkage(airlines.iloc[:,1:], method="complete",metric="euclidean")
plt.figure(figsize=(15, 5))
plt.title('Hierarchical Clustering Dendrogram')
plt.xlabel('Index')
plt.ylabel('Distance')
sch.dendrogram(
    z,
    #leaf_rotation=0.,  # rotates the x axis labels
    #leaf_font_size=8.,  # font size for the x axis labels
)
plt.show()

ValueError: The condensed distance matrix must contain only finite values.