In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import preprocessing

In [2]:
salary = pd.read_csv("C:/Users/H P/Desktop/ANACONDA/SAMPLE VECTOR MACHINE/SalaryData.csv")
salary

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
15056,39,Private,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
15057,38,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
15058,44,Private,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
15059,35,Self-emp-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [3]:
label_encoder = preprocessing.LabelEncoder()
salary['workclass']= label_encoder.fit_transform(salary['workclass'])
salary['education']= label_encoder.fit_transform(salary['education'])
salary['maritalstatus']= label_encoder.fit_transform(salary['maritalstatus'])
salary['occupation']= label_encoder.fit_transform(salary['occupation'])
salary['relationship']= label_encoder.fit_transform(salary['relationship'])
salary['race']= label_encoder.fit_transform(salary['race'])
salary['sex']= label_encoder.fit_transform(salary['sex'])
salary['native']= label_encoder.fit_transform(salary['native'])
salary['Salary']= label_encoder.fit_transform(salary['Salary'])

In [9]:
salary1 = salary.head(25)
salary1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,0
1,38,2,11,9,2,4,0,4,1,0,0,50,37,0
2,28,1,7,12,2,10,0,4,1,0,0,40,37,1
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,1
4,34,2,0,6,4,7,1,4,1,0,0,30,37,0
5,63,4,14,15,2,9,0,4,1,3103,0,32,37,1
6,24,2,15,10,4,7,4,4,0,0,0,40,37,0
7,55,2,5,4,2,2,0,4,1,0,0,10,37,0
8,65,2,11,9,2,6,0,4,1,6418,0,40,37,1
9,36,0,9,13,2,0,0,4,1,0,0,40,37,0
10,26,2,11,9,4,0,1,4,0,0,0,39,37,0
11,48,2,11,9,2,6,0,4,1,3103,0,48,37,1
12,43,2,12,14,2,3,0,4,1,0,0,50,37,1
13,20,5,15,10,4,7,3,4,1,0,0,25,37,0
14,43,2,11,9,2,0,5,4,0,0,0,30,37,0
15,37,2,11,9,6,6,4,4,0,0,0,20,37,0
16,34,2,9,13,2,12,0,4,1,0,0,47,37,1
17,34,2,15,10,4,7,3,2,0,0,0,35,37,0
18,25,2,9,13,4,9,1,4,1,0,0,43,27,0
19,25,2,9,13,2,9,0,4,1,0,0,40,37,0
20,45,4,11,9,2,2,0,4,1,7298,0,90,37,1
21,22,2,11,9,4,0,3,4,1,0,0,20,37,0
22,23,2,11,9,5,6,4,2,1,0,0,54,37,0
23,54,2,11,9,2,2,0,4,1,0,0,35,37,0
24,32,4,15,10,4,9,1,4,1,0,0,60,37,0

In [10]:
x = salary1.iloc[:,0:13]
x

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,2,1,7,4,6,3,2,1,0,0,40,37
1,38,2,11,9,2,4,0,4,1,0,0,50,37
2,28,1,7,12,2,10,0,4,1,0,0,40,37
3,44,2,15,10,2,6,0,2,1,7688,0,40,37
4,34,2,0,6,4,7,1,4,1,0,0,30,37
5,63,4,14,15,2,9,0,4,1,3103,0,32,37
6,24,2,15,10,4,7,4,4,0,0,0,40,37
7,55,2,5,4,2,2,0,4,1,0,0,10,37
8,65,2,11,9,2,6,0,4,1,6418,0,40,37
9,36,0,9,13,2,0,0,4,1,0,0,40,37
10,26,2,11,9,4,0,1,4,0,0,0,39,37
11,48,2,11,9,2,6,0,4,1,3103,0,48,37
12,43,2,12,14,2,3,0,4,1,0,0,50,37
13,20,5,15,10,4,7,3,4,1,0,0,25,37
14,43,2,11,9,2,0,5,4,0,0,0,30,37
15,37,2,11,9,6,6,4,4,0,0,0,20,37
16,34,2,9,13,2,12,0,4,1,0,0,47,37
17,34,2,15,10,4,7,3,2,0,0,0,35,37
18,25,2,9,13,4,9,1,4,1,0,0,43,27
19,25,2,9,13,2,9,0,4,1,0,0,40,37
20,45,4,11,9,2,2,0,4,1,7298,0,90,37
21,22,2,11,9,4,0,3,4,1,0,0,20,37
22,23,2,11,9,5,6,4,2,1,0,0,54,37
23,54,2,11,9,2,2,0,4,1,0,0,35,37
24,32,4,15,10,4,9,1,4,1,0,0,60,37

In [11]:
y = salary1.iloc[:,13]
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     1
9     0
10    0
11    1
12    1
13    0
14    0
15    0
16    1
17    0
18    0
19    0
20    1
21    0
22    0
23    0
24    0
Name: Salary, dtype: int32

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.3)

In [13]:
clf = SVC()
param_grid = [{'kernel':['rbf','linear'],'gamma':[50,5,10,0.5],'C':[15,14,13,12,11,10,0.1,0.001] }]
gsv = GridSearchCV(clf,param_grid,cv=10)
gsv.fit(X_train,y_train)

C:\Users\H P\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 5 members, which is less than n_splits=10.
  warnings.warn(("The least populated class in y has only %d"

GridSearchCV(cv=10, estimator=SVC(),
             param_grid=[{'C': [15, 14, 13, 12, 11, 10, 0.1, 0.001],
                          'gamma': [50, 5, 10, 0.5],
                          'kernel': ['rbf', 'linear']}])

In [14]:
gsv.best_params_ , gsv.best_score_

({'C': 0.001, 'gamma': 50, 'kernel': 'linear'}, 0.85)

In [15]:
clf = SVC(C= 15, gamma = 50)
clf.fit(X_train , y_train)
y_pred = clf.predict(X_test)
acc = accuracy_score(y_test, y_pred) * 100
print("Accuracy =", acc)
confusion_matrix(y_test, y_pred)

Accuracy = 62.5

array([[5, 0],
       [3, 0]], dtype=int64)